<h2>DigitalOcean</h2>

<form action="/do/build" method="post">
  Personal Access Token: <input type="text" name="token" />
  <input type="submit" />
</form>

<p>After you click "Submit" - it may take approximately 10 minutes to build your octohost.</p>

<p>You will be able to see the Droplet created on your <a href="https://cloud.digitalocean.com/droplets" target="_blank">dashboard</a> while it's building.</p>

<p><strong>NOTE:</strong> We are not responsible for any running instances - <a href="https://cloud.digitalocean.com/droplets" target="_blank">login</a> and clean them up.</p>
